.topDiv {
  flex-direction:  column;
  display: flex;
  // max-width: 300px;
  padding-left: 30px;
  padding-right: 30px;
  // padding-top: 30px;
}

.topText {
  text-align: center;
  display: flex;
  // font-family: OpenSans;
  font-size: 13px;
}

.pinText {
  text-align: center;
  display: flex;
  font-size: 24px;
}

.topInput {
  max-width: 300px;
  height: 34px;
  display: flex;
  padding-left: 15px;
  padding-top: 60px;
  background-color: yellow;
}
label.topInput {
  background-color: yellow;
  font-size: 12px;
}

.bottonInput {
  width: 300px;
  height: 34px;
  display: flex;
  // padding-left: 15px;
  padding-top: 20px;
}

.button {
  display: flex;
  padding-top: 20px;
  // margin-top: 20px;
  width: 100%;
}
